<!doctype html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title th:text="#{cashier.main.page.title}">Створення замовлення</title>
</head>
<body>
<th:block th:include="_generalHeader.html"/>
<div class="position-relative">
    <div class="position-absolute top-0 start-50 translate-middle-x">
        <h1 class="display-4" th:text="#{cashier.main.page.title}">Створення замовлення</h1>
        <form th:method="put" th:action="@{/cashier}">
            <p class="fs-3" th:text="#{cashier.main.id.label}">Ідентифікатор:</p>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="goodsIdentifier" value="id" id="radioId" checked>
                <label class="form-check-label" for="radioId">
                    <p class="fs-5">ID</p>
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="goodsIdentifier" value="title" id="radioTitle">
                <label class="form-check-label" for="radioTitle">
                    <p class="fs-5" th:text="#{storekeeper.main.goods.name}">Назва</p>
                </label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="goodsIdentifierInput" id="IdentifierInput"
                       placeholder="Identifier">
                <label for="IdentifierInput" th:text="#{cashier.main.id.input.label}">Ідентифікатор товару</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="goodsAmount" id="AmountInput" placeholder="Amount">
                <label for="AmountInput" th:text="#{storekeeper.main.goods.quantity}">Кількість</label>
                <p class="text-muted mb-3">
                    <th:block th:text="#{storekeeper.edit.rule.quantity}">Кількість має бути більше 0, та (якщо не ціле
                        число) написана через
                    </th:block>
                    <kbd>.</kbd></p>
                <p class="fs-4 text-danger" th:if="${incorrectOrderInput}">
                    <th:block th:text="#{cashier.main.error.quantity.first}">Неправильно введені дані.</th:block>
                    <br>
                    <th:block th:text="#{cashier.main.error.quantity.second}">Перевірте
                        написання ідентифікатору та кількості.
                    </th:block>
                </p>
            </div>
            <button type="submit" class="btn btn-secondary btn-lg mb-3" th:text="#{storekeeper.add.button}">Додати</button>
        </form>
        <div th:if="${!orderGoodsList.isEmpty()}">
            <p class="fs-4"><th:block th:text="#{cashier.main.num.goods.check}">Кількість товарів у замовленні:</th:block> <strong th:text="${orderGoodsList.size()}"/></p>
            <p class="fs-5 mb-3">
                <th:block th:text="#{cashier.main.last.goods.label}">Останній доданий товар:</th:block></br>
                ID: <em th:text="${lastGoodsId}"/></br>
                <th:block th:text="#{cashier.main.last.goods.name}">Назва:</th:block> <em th:text="${lastGoodsTitle}"/></br>
                <th:block th:text="#{cashier.main.last.goods.amount}">Кількість:</th:block> <em th:text="${lastGoodsAmount}"/>
            </p>
        </div>
        <a th:href="@{/cashier/review}" class="btn btn-success btn-lg mb-3" th:text="#{cashier.main.button.confirm}">Підтвердження замовлення</a>
        <br>
        <a th:href="@{/cashier/goods}" class="btn btn-info btn-lg"
           target="_blank" th:text="#{cashier.main.button.warehouse}">Товари на складі</a>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>