<!doctype html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title th:text="#{storekeeper.main.page.title}">Товари</title>
</head>
<body>
<th:block th:include="_generalHeader.html"/>
<div class="p-4">
    <p>
    <h1 th:text="#{storekeeper.main.page.title}">Товари</h1><a class="btn btn-info btn-lg" href="/cashier" role="button" th:text="#{cashier.goods.button.link.order}">Створення замовлення</a></p>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col" th:text="#{storekeeper.main.goods.name}">Назва</th>
            <th scope="col" th:text="#{storekeeper.main.goods.quantity}">Кількість</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${goods}">
            <th scope="row" th:text="${item.getId()}">ID</th>
            <td th:text="${item.getTitle()}">Title</td>
            <td th:text="${item.getQuantity()}">Quantity</td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Navigation throw list of goods">
        <ul class="pagination">
            <li class="page-item disabled" th:if="${offset == 0}">
                <a class="page-link" th:text="#{pagination.button.previous}">Назад</a>
            </li>
            <li class="page-item" th:if="${offset != 0}">
                <a class="page-link"
                   th:href="@{/cashier/goods(offset=${offset - limit})}" th:text="#{pagination.button.previous}">Назад</a>
            </li>
            <th:block th:each="i : ${#numbers.sequence(0, pages)}">
                <li class="page-item active" th:if="${i == currentPage}">
                    <a class="page-link" th:text="${i+1}">Num</a>
                </li>
                <li class="page-item" th:if="${i != currentPage && i * limit < goodsCount}">
                    <a class="page-link" th:href="@{/cashier/goods(offset=${i*limit})}" th:text="${i+1}">Num</a>
                </li>
            </th:block>
            <li class="page-item disabled" th:if="${offset + limit > goodsCount}">
                <a class="page-link" th:text="#{pagination.button.next}">Далі</a>
            </li>
            <li class="page-item disabled" th:if="${offset + limit == goodsCount && limit == goodsCount}">
                <a class="page-link" th:text="#{pagination.button.next}">Далі</a>
            </li>
            <li class="page-item disabled" th:if="${offset + limit == goodsCount && limit != goodsCount}">
                <a class="page-link" th:text="#{pagination.button.next}">Далі</a>
            </li>
            <li class="page-item" th:if="${offset + limit < goodsCount}">
                <a class="page-link" th:href="@{/cashier/goods(offset=${offset+limit})}" th:text="#{pagination.button.next}">Далі</a>
            </li>
        </ul>
    </nav>
    <div class="w-25">
        <form th:action="@{/cashier/goods}" method="get">
            <h4 th:text="#{pagination.select.goods.label}">Кількість товарів на сторінці</h4>
            <select name="limitSelect" class="form-select" aria-label="Items per page">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
            </select>
            <br>
            <button type="submit" class="btn btn-success btn-lg" th:text="#{pagination.button.refresh}">Оновити</button>
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>
