<!doctype html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title th:text="#{cashier.review.page.title}">Підтвердження замовлення</title>
</head>
<body>
<th:block th:include="_generalHeader.html"/>
<div class="position-relative">
    <div class="position-absolute top-0 start-50 translate-middle-x">
        <h1 class="display-4" th:text="#{cashier.review.page.title}">Підтвердження замовлення</h1>
        <div th:if="${!orderGoodsList.isEmpty()}"> <!-- add check to empty list -->
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col" th:text="#{storekeeper.main.goods.name}">Назва</th>
                    <th scope="col" th:text="#{storekeeper.main.goods.quantity}">Кількість</th>
                    <th scope="col" th:text="#{storekeeper.main.table.button.label}">Дія</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${orderGoodsList}">
                    <th scope="row" th:text="${item.getGoods().getId()}">ID</th>
                    <td th:text="${item.getGoods().getTitle()}">Title</td>
                    <td th:text="${item.getAmount()}">Amount</td>
                    <td><a class="btn btn-secondary"
                           th:href="@{/cashier/review/{id}/edit(id=${item.getGoods().getId()})}" th:text="#{storekeeper.edit.page.title}">Змінити кількість</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <form th:method="post" th:action="@{/cashier}">
                <input class="btn btn-success btn-lg" type="submit"
                       value="Замовлення підтверджую" th:value="#{cashier.review.button.confirm}">
            </form>
        </div>
        <div th:if="${orderGoodsList.isEmpty()}">
            <h3 th:text="#{cashier.review.empty.label}">Спочатку додайте товари у чек!</h3>
            <a th:href="@{/cashier}"
               class="btn btn-primary btn-lg" th:text="#{cashier.goods.button.link.order}">Створення замовлення</a>
        </div>
    </div>
</div>
</body>
</html>