<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title th:text="#{senior.register.page.title}">Реєстрація нового користувача</title>
</head>
<body>
<th:block th:include="_seniorHeader.html"/>
<div class="position-relative">
    <div class="position-absolute top-0 start-50 translate-middle-x w-25">
        <h1 class="display-3" th:text="#{senior.register.page.title}">Реєстрація нового користувача</h1>
        <p class="fs-3 text-success" th:if="${successRegistration}">
            <th:block th:text="#{senior.register.success.label}">Користувач успішно зареєстрований!</th:block><br>
            <th:block th:text="#{login.username}">Логін</th:block>:
            <th:block th:text="${userLogin}"/>
            <br>
            <th:block th:text="#{login.password}">Пароль</th:block>:
            <th:block th:text="${userPassword}"/>
            <br>
            <th:block th:text="#{senior.register.success.role}">Роль</th:block>:
            <th:block th:text="${userRole}"/>
        </p>
        <form method="post" th:action="@{/seniorcashier/register-user}">
            <h4 th:text="#{senior.register.success.role}">Роль</h4>
            <select name="userRole" class="form-select form-select-lg mb-3" aria-label="User role">
                <option value="CASHIER" th:text="#{senior.register.select.cashier}">Касир</option>
                <option value="STOREKEEPER" th:text="#{senior.register.select.storekeeper}">Товарознавець</option>
                <option value="SENIORCASHIER" th:text="#{senior.register.select.senior}">Старший касир</option>
            </select>
            <div class="form-floating">
                <input type="text" class="form-control" name="userLogin" id="userLogin" placeholder="Login"
                       th:value="${loginInput}">
                <label for="userLogin" th:text="#{login.username}">Логін</label>
            </div>
            <!--/*@thymesVar id="incorrectLogin" type="java.lang.Boolean"*/-->
            <!--/*@thymesVar id="isLoginUsed" type="java.lang.Boolean"*/-->
            <p class="fs-5 text-danger" th:if="${incorrectLogin}" th:text="#{senior.register.error.bad.login}">Неправильний логін!</p>
            <p class="fs-5 text-danger" th:if="${isLoginUsed}" th:text="#{senior.register.error.used.login}">Такий логін вже існує!</p>
            <p class="text-muted mb-3">
                <th:block th:text="#{senior.register.rule.login.first}">Логін має бути більше/дорівнювати 5 символам та бути менше 16 символів, має містити тільки латинські
                    літери. Дозволяється використання</th:block> <kbd>_-</kbd> <th:block th:text="#{senior.register.rule.login.second}">та цифри</th:block>
            </p>
            <div class="form-floating">
                <input type="password" class="form-control" name="userPassword" id="userPassword"
                       placeholder="Password">
                <label for="userPassword" th:text="#{login.password}">Пароль</label>
            </div>
            <!--/*@thymesVar id="incorrectPassword" type="java.lang.Boolean"*/-->
            <!--/*@thymesVar id="incorrectRepeatedPassword" type="java.lang.Boolean"*/-->
            <p class="fs-5 text-danger" th:if="${incorrectPassword}" th:text="#{senior.register.error.bad.password}">Неправильний пароль!</p>
            <p class="fs-5 text-danger" th:if="${incorrectRepeatedPassword}" th:text="#{senior.register.error.repeat.password}">Неправильний повторений пароль!</p>
            <p class="text-muted mb-3" th:text="#{senior.register.rule.password}">
                Пароль має бути не меньше 6 та не більше 12 символів, містити тільки латинські літери, мінімім одну
                велику літеру та цифру
            </p>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" name="repeatedUserPassword" id="repeatedUserPassword"
                       placeholder="Repeat Password">
                <label for="repeatedUserPassword" th:text="#{senior.register.repeat.password.label}">Повторіть пароль</label>
            </div>
            <input class="btn btn-warning btn-lg" type="submit"
                   value="Зареєструвати" th:value="#{senior.register.button.register.value}">
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>