<!doctype html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Головна</title>
</head>
<body>
<th:block th:include="_seniorHeader.html"/>
<div class="p-4">
    <figure class="text-center">
        <blockquote class="blockquote">
            <h1 class="display-2" th:text="#{senior.main.orders.label}">Замовлення</h1>
        </blockquote>
    </figure>
    <div th:if="${!orders.isEmpty()}">
        <table class="table align-middle table-striped">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col" th:text="#{senior.main.table.cashier.label}">Касир</th>
                <th scope="col" th:text="#{storekeeper.main.page.title}">Товари</th>
                <th scope="col" th:text="#{senior.main.table.date.label}">Дата</th>
                <th scope="col" th:text="#{senior.main.table.time.label}">Час</th>
                <th scope="col" th:text="#{storekeeper.main.table.button.label}">Дія</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <th scope="row" th:text="${order.getId()}">ID</th>
                <td th:text="${order.getUser().getLogin()}">User Login</td>
                <td>
                    <table class="table align-middle">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col" th:text="#{storekeeper.main.goods.name}">Назва</th>
                            <th scope="col" th:text="#{storekeeper.main.goods.quantity}">Кількість</th>
                            <th scope="col" th:text="#{storekeeper.main.table.button.label}">Дія</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="goods : ${order.getOrderGoodsList()}">
                            <th scope="row" th:text="${goods.getGoods().getId()}">ID</th>
                            <td th:text="${goods.getGoods().getTitle()}">Title</td>
                            <td th:text="${goods.getAmount()}">Amount</td>
                            <td>
                                <form th:method="delete"
                                      th:action="@{/seniorcashier/{id}/delete/{orderId}(id=${order.getId()},orderId=${goods.getGoods().getId()})}">
                                    <button type="submit" class="btn btn-danger btn-lg" th:text="#{senior.main.table.button.delete}">Видалити</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <td th:text="${order.getDate()}">Date</td>
                <td th:text="${order.getTime()}">Time</td>
                <td>
                    <form th:method="delete" th:action="@{/seniorcashier/{id}(id=${order.getId()})}">
                        <button type="submit" class="btn btn-danger btn-lg" th:text="#{senior.main.table.button.delete}">Видалити</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <nav aria-label="Navigation throw list of goods">
            <ul class="pagination">
                <li class="page-item disabled" th:if="${offset == 0}">
                    <a class="page-link" th:text="#{pagination.button.previous}">Назад</a>
                </li>
                <li class="page-item" th:if="${offset != 0}">
                    <a class="page-link"
                       th:href="@{/seniorcashier(offset=${offset - limit})}" th:text="#{pagination.button.previous}">Назад</a>
                </li>
                <th:block th:each="i : ${#numbers.sequence(0, pages)}">
                    <li class="page-item active" th:if="${i == currentPage}">
                        <a class="page-link" th:text="${i+1}">Num</a>
                    </li>
                    <li class="page-item" th:if="${i != currentPage && i * limit < ordersCount}">
                        <a class="page-link" th:href="@{/seniorcashier(offset=${i*limit})}" th:text="${i+1}">Num</a>
                    </li>
                </th:block>
                <li class="page-item disabled" th:if="${offset + limit > ordersCount}">
                    <a class="page-link" th:text="#{pagination.button.next}">Далі</a>
                </li>
                <li class="page-item disabled" th:if="${offset + limit == ordersCount && limit == ordersCount}">
                    <a class="page-link" th:text="#{pagination.button.next}">Далі</a>
                </li>
                <li class="page-item disabled" th:if="${offset + limit == ordersCount && limit != ordersCount}">
                    <a class="page-link" th:text="#{pagination.button.next}">Далі</a>
                </li>
                <li class="page-item" th:if="${offset + limit < ordersCount}">
                    <a class="page-link" th:href="@{/seniorcashier(offset=${offset+limit})}" th:text="#{pagination.button.next}">Далі</a>
                </li>
            </ul>
        </nav>
        <div class="w-25">
            <form th:action="@{/seniorcashier}" method="get">
                <h4 th:text="#{pagination.select.orders.label}">Кількість замовлень на сторінці</h4>
                <select name="limitSelect" class="form-select" aria-label="Items per page">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                </select>
                <br>
                <button type="submit" class="btn btn-success btn-lg" th:text="#{pagination.button.refresh}">Оновити</button>
            </form>
        </div>
    </div>
    <div th:if="${orders.isEmpty()}">
        <figure class="text-center">
            <blockquote class="blockquote">
                <p class="fs-4" th:text="#{senior.main.empty.orders}">Замовлень немає</p>
            </blockquote>
        </figure>
    </div>
</div>
</body>
</html>