<!doctype html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title th:text="#{error.fatal.title}">Ой, щось пішло не так...</title>
</head>
<body>
<div class="text-center">
    <!--    500-->
    <img src="/error404.png" class="rounded" alt="error">
    <p class="fs-3">
        <th:block th:text="#{error.fatal.first}">Ой, щось пішло не так... Але не хвилюйтесь, ми вже працюємо над цим!
        </th:block>
        <br>
        <th:block th:text="#{error.fatal.second}">А поки, спробуйте перейти на</th:block>
        <a href="/login/redirect" th:text="#{error.no.access.main}">головну сторінку</a>.
    </p>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>