<!doctype html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Header</title>
</head>
<body>
<div class="p-3">
    <header class="d-flex flex-wrap justify-content-center py-2 mb-2 border-bottom">
        <p class="fw-bold fs-3 d-flex align-items-center mb-2 mb-md-0 me-md-auto text-decoration-none">
            <th:block th:text="#{header.general.greeting}">Вітання</th:block>,
            <th:block th:text="${#session.getAttribute('username')}"/>!
        </p>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="#" class="nav-link" aria-current="page"
                   onclick="langEn()">
                    English
                </a></li>
            <li class="nav-item">
                <a href="#" class="nav-link" aria-current="page"
                   onclick="langUa()">
                    Українська
                </a></li>
            <div class="vr"></div>
            <li class="nav-item">
                <a href="/seniorcashier" class="nav-link" aria-current="page" th:text="#{header.senior.main.link}">Головна</a>
            </li>
            <li class="nav-item">
                <a href="/seniorcashier/register-user" class="nav-link" aria-current="page"
                   th:text="#{header.senior.register.link}">Реєстрація користувача</a>
            </li>
            <li class="nav-item"><a
                    href="/seniorcashier/download-report?reportType=X"
                    class="nav-link"
                    aria-current="page" th:text="#{header.senior.report.x}">Отримати Х звіт</a></li>
            <li class="nav-item"><a
                    th:href="@{/seniorcashier/download-report(reportType='Z',time=${#calendars.createNow().timeInMillis})}"
                    href="/seniorcashier/download-report?reportType=Z"
                    class="nav-link"
                    aria-current="page" th:text="#{header.senior.report.z}">Отримати Z звіт</a></li>
            <li class="nav-item">
                <form th:method="POST" th:action="@{/logout}">
                    <button type="submit" class="btn btn-primary" th:text="#{header.general.logout}">Вихід</button>
                </form>
            </li>
        </ul>
    </header>
</div>
<script>
    function langEn() {
        let url = document.URL;
        if (!url.includes('lang=en')) {
            if (url.includes('lang=uk')) {
                location.replace(url.replace('lang=uk', 'lang=en'))
            } else if (url.includes("?")) {
                location.replace(url + '&lang=en')
            } else {
                location.replace(url + '?lang=en')
            }
        }
    }

    function langUa() {
        let url = document.URL;
        if (!url.includes('lang=uk')) {
            if (url.includes('lang=en')) {
                location.replace(url.replace('lang=en', 'lang=uk'))
            } else if (url.includes('?')) {
                location.replace(url + '&lang=uk')
            } else {
                location.replace(url + '?lang=uk')
            }
        }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>