<!doctype html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title th:text="#{login.page.title}">Авторизація</title>
</head>
<body>
<th:block th:include="_loginHeader.html"/>
<h1 class="display-4 text-center text-success" th:if="${youRegistered}" th:text="#{login.registration.successful}">
    Реєстрація успішна!</h1>
<div class="position-absolute top-50 start-50 translate-middle">
    <h1 class="text-center" th:text="#{login.label}">
        Вхід у систему
    </h1>
    <form class="form-signin" method="post" th:action="@{/login}">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="login" id="username" placeholder="Login">
            <label for="username" th:text="#{login.username}">
                Логін
            </label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            <label for="password" th:text="#{login.password}">
                Пароль
            </label>
        </div>
        <p class="text-danger" th:if="${param.error}">
            <th:block th:text="#{login.error.first}">Неправильно введені дані,</th:block>
            <br>
            <th:block th:text="#{login.error.second}">перевірте логін та пароль</th:block>
        </p>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="remember-me" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault" th:text="#{login.remember.label}">
                Запам'ятати мене
            </label>
        </div>
        <br>
        <div class="d-flex justify-content-center">
            <input class="btn btn-primary btn-lg mb-3 w-75" type="submit"
                   value="Вхід" th:value="#{login.button.value}">
        </div>
    </form>
    <div class="d-flex justify-content-center">
        <a class="btn btn-secondary btn-lg w-75" href="/sign-up" th:text="#{login.button.registering.value}"
           role="link">Реєстрація</a>
    </div>
</div>
</body>
</html>