<!doctype html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title th:text="#{storekeeper.add.page.title}">Додати новий товар</title>
</head>
<body>
<th:block th:include="_generalHeader.html"/>
<div class="position-absolute top-50 start-50 translate-middle">
    <form th:method="post" th:action="@{/storekeeper}" th:object="${goodsObject}">
        <h1 class="text-center mb-3" th:text="#{storekeeper.add.label}">Додати новий товар:</h1>
        <div class="form-floating mb-3">
            <input type="text" th:field="*{title}" class="form-control" name="title" id="title" placeholder="Title">
            <label for="title" th:text="#{storekeeper.add.name}">Назва</label>
            <p class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"/>
        </div>
        <div class="form-floating">
            <input type="text" th:field="*{quantity}" class="form-control" name="quantity" id="quantity"
                   placeholder="Quantity">
            <label for="quantity" th:text="#{storekeeper.add.quantity}">Кількість</label>
            <p class="text-danger" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"/>
            <p class="text-muted"><th:block th:text="#{storekeeper.edit.rule.quantity}">Кількість має бути більше 0, та (якщо не ціле число) написана через</th:block> <kbd>.</kbd></p>
        </div>
        <br>
        <input class="btn btn-info btn-lg" type="submit"
               value="Додати" th:value="#{storekeeper.add.button}">
    </form>
</div>
</body>
</html>
