<!doctype html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title th:text="#{storekeeper.edit.page.title}">Змінити кількість</title>
</head>
<body>
<th:block th:include="_generalHeader.html"/>
<form th:method="PATCH" th:object="${goodsQuantity}" th:action="@{/storekeeper/{id}(id=${goodsQuantity.getId()})}">
    <div class="position-absolute top-50 start-50 translate-middle w-25">
        <div class="row g-3 mb-3">
            <div class="col">
                <label for="goodsId" class="fw-bolder">ID:</label>
                <input class="form-control" id="goodsId" th:value="*{id}" type="text" placeholder="ID input"
                       th:field="*{id}" disabled>
            </div>
        </div>
        <div class="row g-3 mb-3">
            <div class="col">
                <label for="goodsTitle" class="fw-bolder">Назва:</label>
                <input class="form-control" id="goodsTitle" th:value="*{title}" type="text" placeholder="Title input"
                       th:field="*{title}" readonly>
            </div>
        </div>
        <div class="form-floating">
            <input type="text" th:value="*{quantity}" th:field="*{quantity}" class="form-control" name="quantity"
                   id="quantity"
                   placeholder="Quantity">
            <label for="quantity" th:text="#{storekeeper.edit.quantity.label}">Кількість</label>
            <!--/*@thymesVar id="error" type="java.lang.Boolean"*/-->
            <p class="text-danger" th:if="${error}" th:text="#{storekeeper.edit.error.general}"></p>
            <!--/*@thymesVar id="comaError" type="java.lang.Boolean"*/-->
            <p class="text-danger" th:if="${comaError}" th:text="#{storekeeper.edit.error.quantity}"></p>
            <p class="text-muted mb-3">
                <th:block th:text="#{storekeeper.edit.rule.quantity}">Кількість має бути більше 0, та (якщо не ціле
                    число) написана через
                </th:block>
                <kbd>.</kbd></p>
        </div>
        <br>
        <input class="btn btn-info btn-lg" type="submit"
               value="Змінити" th:value="#{storekeeper.edit.button.confirm}">
    </div>
</form>
</body>
</html>